ion-toolbar{
    background-color: var(--ion-color-secondaryduoc);
}

.btn{
    background-color: var(--ion-color-secondaryduoc-shade);
    color: white;
    padding: 1em 1.2em;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 2em;
}

#container{
    text-align: center;
}

.titulos{
    width: 100%;
    margin: 1.5em 0;
    text-align: center;
}

ion-card{
    background-color: rgb(249, 204, 0);
    padding: 1em 0;

}

.form-group{
    margin-bottom: 3px;
}

.imgpass{
    width: 230px;
    height: 230px;
}