<ion-header>
  <ion-toolbar color="warning">
    <ion-title #titulo class="ion-text-left ion-text">
      <div color="secondary-duoc">
        SISTEMA DE ASISTENCIA DUOCUC
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>

<ion-content>

  <input #fileinput hidden id="input-file" type="file" accept="image/*;capture=camera" 
    (change)="verificarArchivoConQR($event.target.files)" />

  <ion-button color="secondary-duoc" (click)="cargarImagenDesdeArchivo()" expand="full" shape="round">
    <ion-icon slot="start" name="camera"></ion-icon>
    Cargar Imagen con Código QR
  </ion-button>

  <ion-button color="secondary-duoc" *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full" shape="round">
    <ion-icon slot="start" name="videocam-outline"></ion-icon>
    Comenzar Escaneo de QR
  </ion-button>

  <ion-button color="secondary-duoc" *ngIf="escaneando" (click)="detenerEscaneoQR()" expand="full" shape="round">
    <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
    Detener escaneo de QR
  </ion-button>

  <ion-button color="secondary-duoc" (click)="limpiarDatos()" expand="block" expand="full" shape="round">
    <ion-icon slot="start" name="trash-outline"></ion-icon>
    Limpiar datos
  </ion-button>

  <video #video [hidden]="!escaneando" width="100%"></video>
  <canvas #canvas hidden></canvas>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos de la asignatura</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <br>
      <div *ngIf="datosQR" class="data-container">
        <p class="data-item"><strong>Sede:</strong> <span>{{ datosMostrarQR.sede }}</span></p>
        <p class="data-item"><strong>Sigla:</strong> <span>{{ datosMostrarQR.idAsignatura }}</span></p>
        <p class="data-item"><strong>Secci&oacute;n:</strong> <span>{{ datosMostrarQR.seccion }}</span></p>
        <p class="data-item"><strong>Nombre asignatura:</strong> <span>{{ datosMostrarQR.nombreAsignatura }}</span></p>
        <p class="data-item"><strong>Nombre Profesor:</strong> <span>{{ datosMostrarQR.nombreProfesor }}</span></p>
        <p class="data-item"><strong>D&iacute;a:</strong> <span>{{ datosMostrarQR.dia }}</span></p>
        <p class="data-item"><strong>Bloque de inicio:</strong> <span>{{ datosMostrarQR.bloqueInicio }}</span></p>
        <p class="data-item"><strong>Bloque de termino:</strong> <span>{{ datosMostrarQR.bloqueTermino }}</span></p>
        <p class="data-item"><strong>Hora de inicio:</strong> <span>{{ datosMostrarQR.horaInicio }}</span></p>
        <p class="data-item"><strong>Hora de termino:</strong> <span>{{ datosMostrarQR.horaFin }}</span></p>
      </div>
    </ion-card-content>
  </ion-card>
  
</ion-content>
