<!-- Comienza el Header -->
<ion-header>
  <ion-toolbar color="warning">
    <ion-title #titulo class="ion-text-left ion-text">
      <div>
        SISTEMA DE ASISTENCIA DUOCUC
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Termina el Header -->

<!-- Comienza el Content -->
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <!-- <mat-slider min="1" max="100" step="1" value="10"></mat-slider> -->
  <ion-title class="ion-padding-top">
    <ion-label>
      <h1 class="ion-text-center">¡Bienvenido!</h1>
      <h2 class="ion-text-center">{{ usuario.findNombreBy(usuario.password) }}</h2>
      <!-- {{interpolacion}} 
          Permite mostrar los datos desde el script a la visual
          verificar el data en el home.page.ts
        -->
      <p *ngIf="usuario">Usuario: {{ usuario.nombreUsuario }}</p>
    </ion-label>
  </ion-title>
</ion-content>
<!-- Termina el Content -->
